<div class="fp-page">
<div class="fp-box">
        <div class="logo">
            <a href="javascript:void(0);">Admin<b>Portal</b></a>
            <small>Admin Portal</small>
        </div>
        <div class="card">
            <div class="body">
                <form [formGroup]="formData" (ngSubmit)="resetPassword()" id="resetForm">
                    <div class="msg"></div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            <input type="email" class="form-control" formControlName="email" placeholder="Email" required autofocus>
                        </div>
                    </div>

                    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">RESET MY PASSWORD</button>

                    <div class="row m-t-20 m-b--5 align-center">
                        <a href="/">Sign In!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>