<section class="content">
  <div class="container-fluid">
    <div class="row">
      

      <div class="col-md-12">
        <div class="card">
          <div class="card-body px-lg-5 pt-0" style="padding: 20px;">
            <h2 class="card-header info-color white-text text-center py-4 tBg">
              <strong>Upload file and share with other users in {{ regionName }}</strong>
            </h2>
            <div class="msg" style="padding: 20px;"><span></span></div>
            <div class="row" id="uploadForm">
              <div class="col-md-6">
              <!-- Form -->
              <form enctype="multipart/form-data"  action="#">
                
                
                <label for="materialLoginFormEmail">Package Name:</label>
                <div class="md-form">
                  <input type="text" id="name" class="form-control" autocomplete="off" required>
                </div>

                <label for="materialLoginFormEmail" class="pt">Choose Package:</label>
                <div class="md-form">
                  <input type="file" class="form-control" id="file" placeholder="Choose File" (change)="onFileSelected($event)">
                </div>

                <div class="pt">
                  <button type="button" class="btn btn-primary" (click)="onUpload()">Upload</button>
                </div>
              </form>
              <!-- Form -->
              </div>
            </div>
            <div class="row" id="userForm">
              <div class="col-md-6">
                <form  [formGroup]="formData" (ngSubmit)="submit()" style="padding-top: 5%;">
                  <h4>
                    <strong>Select users:</strong>
                  </h4>  
  
                  <div >
                    <section formArrayName="downloaders" class="example-section" *ngFor="let downloader of ordersFormArray.controls;; let i = index">
                      <mat-checkbox [formControlName]="i" class="example-margin" [checked]="true" >{{downloaderList[i].email}}</mat-checkbox>
                    </section>  
                  </div>
                  <br/>
                  <button class="btn btn-primary">Send</button>                                  
                </form>
              </div>
            </div>

            <div class="row" style="padding-top: 3%;">
              <div class="col-md-6">
                <app-survey-one></app-survey-one>
              </div>
              
              <div class="col-md-6">
                <app-survey-two></app-survey-two>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>        
  </div>

  
</section>