<section class="content">
    <div class="container-fluid">
      <div class="jumbotron">

        <div class="row">

          <div class="col-md-12">
            
            <div class="col-md-6" >
              <div class="card">
                <h5 class="card-header info-color white-text text-center py-4" style="padding-top: 5%;">
                  <strong>Upload</strong>
                </h5>
                <div class="msg" style="text-align: center;"><span ></span></div>
                <div class="card-body px-lg-5 pt-0" style="padding: 20px;">
                  <!-- Form -->
                  <form enctype="multipart/form-data" id="uploadForm" action="#">
                    <label for="materialLoginFormEmail">Package Name:</label>
                    <div class="md-form">
                      <input type="text" id="name" class="form-control" autocomplete="off" required>
                    </div>
                    
                    <label for="materialLoginFormEmail" class="pt">Choose Package:</label>
                    <div class="md-form">
                      <input type="file" class="form-control" id="file" placeholder="Choose File" (change)="onFileSelected($event)">
                    </div>

                    <div class="pt">
                      <button type="button" class="btn btn-primary" (click)="onUpload()">Upload</button>
                      <button type="button" id="saveBtn" style="float:right" (click)="savePathToDb()" class="btn btn-success">Save</button>
                    </div>
                  </form>
                  <!-- Form -->
                </div>
              </div>
            </div>
  
            <div class="col-md-6">
             
              <div class="card">
                <h5 class="card-header info-color white-text text-center py-4" style="padding-top: 5%;">
                  <strong>List Of Users</strong>
                </h5>
               
                <div class="card-body px-lg-5 pt-0" style="padding: 20px;">
                  <form id="userForm" [formGroup]="formData" (ngSubmit)="submit()">

                    <label for="materialLoginFormEmail">Select Users:</label>   

                    <div >
                      <section formArrayName="downloaders" class="example-section" *ngFor="let downloader of ordersFormArray.controls;; let i = index">
                        <mat-checkbox [formControlName]="i" class="example-margin" [checked]="true" >{{downloaderList[i].email}}</mat-checkbox>
                      </section>  
                    </div>
                    <br/>
                    <button class="btn btn-primary">Send</button>                                  
                  </form>
                </div>
              </div>
            </div>
  
          </div>
          
         
        </div>        
      </div>  
      
     
        
        <!-- <div class="col-md-12">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <form  enctype="multipart/form-data" id="uploadForm">
              <div class="msg"><span ></span></div>
              <div class="form-group">
                <label for="exampleInputEmail1">File Name</label>
                <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="File Name">
                <small id="emailHelp" class="form-text text-muted">We'll never share your file with anyone else.</small>
              </div>
  
              <div class="form-group">
                <input type="file" class="form-control" id="file" placeholder="Choose File" (change)="onFileSelected($event)">
               
              </div>
              <button type="button" class="btn btn-primary" (click)="onUpload()">Upload</button>
            </form>
          </div>
          <div class="col-md-2"></div>         
        </div>         -->
     
    </div>
</section>