.header{position: relative;box-shadow: 0px 1px 7px;}
.logout{position: absolute !important;
    right: 10px;
    top: 0px;
    display: inline !important;
    padding: 0 !important;
    width: auto !important; cursor: pointer;}