<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="header">Welcome <a type="button" class="logout" (click)="logout()"><span class="material-icons">logout</span></a></li>
                <li class="{{currentRoute == 'download'? 'active': ''}}" *ngIf="userTypes == 'B'">
                    <a [routerLink]="['/dashboard/download']" >
                        <span class="material-icons">playlist_add_check</span>
                        <span>Downloads</span>
                    </a>
                </li>

                <li class="{{currentRoute == 'upload'? 'active': ''}}" *ngIf="userTypes == 'A'">
                    <a [routerLink]="['/dashboard/upload']">
                        <span class="material-icons">file_upload</span>
                        <span>Upload</span>
                    </a>
                </li>
                
                <li class="{{currentRoute == 'uploadlist'? 'active': ''}}" *ngIf="userTypes == 'A'">
                    <a [routerLink]="['/dashboard/uploadlist']">
                        <span class="material-icons">playlist_add_check</span>
                        <span>Upload List</span>
                    </a>
                </li>

                <li class="{{currentRoute == 'referList'? 'active': ''}}" *ngIf="userTypes == 'A'">
                    <a [routerLink]="['/dashboard/referList']">
                        <span class="material-icons">playlist_add_check</span>
                        <span>Data of Users</span>
                    </a>
                </li>

                
                
            </ul>
        </div>

        <!--<div class="legal">
            <div class="copyright">
                &copy; 2016 <a href="javascript:void(0);">AdminBSB - Material Design</a>.
            </div>
            <div class="version">
                <b>Version: </b> 1.0.4
            </div>
        </div>-->
        <!-- #Footer -->
    </aside>
</section>
<!-- #END# Left Sidebar -->
<!-- Right Sidebar -->
