<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <div class="msg msgStyle"><span></span></div>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element; let i = index" > {{i+1}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.emailId}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef> Status </th>
                      <td mat-cell *matCellDef="let element"> 
                        {{element.status === 'P' ? 'Pending' : 'Confirmed'}}
                      </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                      <th mat-header-cell *matHeaderCellDef> Referred On </th>
                      <td mat-cell *matCellDef="let element"> {{element.created_at | date: 'dd-MM-yyyy hh:mm a'}} </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="symbol">
                      <th mat-header-cell *matHeaderCellDef> Action </th>
                      <td mat-cell *matCellDef="let element">
                        <button mat-flat-button color="primary" (click)="removeFromReferList(element.id)">
                            <!-- <a href="{{element.location}}" target="_blank">Delete</a> -->
                            Delete
                        </button>
                          
                      </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                  </table>

                  <div class="pagenitor">
                    <mat-paginator [length]="totalItems" [pageSize]="itemsPerPage" [pageSizeOptions]="[5, 10, 15, 25, 50]"
                        (page)="changePage($event)">
                    </mat-paginator>
                </div>
                  
                  
            </div>
        </div>
    </div>
</section>