.login-container
{
  margin: 8vw auto;
  width: 30vw; 
}
.logo-container
{
  text-align: center;
  margin-bottom: 1.5vw;
}
h3{
  text-align: center;
  font-size: 1.5vw;
  margin: 0 0 2vw 0;
  padding: 0;
  color: rgba(26, 32, 44, 0.8);
}

.whitebox{
  background: #fff;
  padding: 2vw 3vw 3vw;
  box-shadow: 0px 10px 10px rgba(67, 104, 138, 0.17);
  border-radius: 13.9648px;
}
.form-row label{display: block; color: rgba(26, 32, 44, 0.8);}
.ktextbox{
  border: 1px solid #eee;
  padding: 0.5vw 1vw;
  font-size: 1.2vw;
  margin-top: 0.3vw;
  width: 100%;
  color: rgba(26, 32, 44, 0.8);;
}
.ktextbox:focus-visible, .ktextbox:focus, .k-button:focus-visible, .k-button:focus{
  outline: none !important;
}
.k-button{
  padding: 0.3vw 1vw;
  height: 45px;
  font-size: 1.5vw;
  width: 100%;
  color: #fff;
  border: none;
  background: #25ADB1;
  border-radius: 5px;
  text-transform: none;
}
.form-button-row{margin: 1.5vw 0;}
.text-center{text-align: center;}
.text-center a{color: #25ADB1; text-decoration: none;}
.errorbox{height: 1.7vw;}
.errorbox label{color: red;}
.messagebox{height:2vw; text-align: center; font-weight: bold;}

/* CSS FOR MEDIA MAXWIDTH 1400PX */
@media only screen and (max-width: 1400px)
{
  .login-container
  {
    margin: 1vw auto;
    width: 30vw;
  }
}